<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="stdout_json" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="net.logstash.logback.encoder.LogstashEncoder">
			<springProfile name="!test">
				<jsonGeneratorDecorator class="net.logstash.logback.mask.MaskingJsonGeneratorDecorator">
					<valueMask>
						<value>(.*)(\d{6})\d{5}(.*)</value>
						<mask>$1$2*****$3</mask>
					</valueMask>
				</jsonGeneratorDecorator>
			</springProfile>
		</encoder>
	</appender>

	<root level="WARN">
		<appender-ref ref="stdout_json" />
	</root>

	<logger name="no.nav.tjenestepensjon" level="${logging.level.no.nav.tjenestepensjon:-WARN}">
		<appender-ref ref="stdout_json" />
	</logger>
	<logger name="org.springframework.security.oauth2" level="${logging.level.org.springframework.security.oauth2:-WARN}">
		<appender-ref ref="stdout_json" />
	</logger>
	<logger name="org.springframework.ws.client.MessageTracing" level="${logging.level.org.springframework.ws.client.MessageTracing:-WARN}">
		<appender-ref ref="stdout_json" />
	</logger>
	<logger name="org.springframework.ws.web" level="${logging.level.org.springframework.ws.web:-WARN}">
		<appender-ref ref="stdout_json" />
	</logger>
	<logger name="com.microsoft.aad" level="${logging.level.com.microsoft.aad:-WARN}">
		<appender-ref ref="stdout_json" />
	</logger>

</configuration>
