<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator class="ch.qos.logback.access.boolex.JaninoEventEvaluator">
                <expression>return ((event.getRequestURI().contains("isAlive")) ||
                    (event.getRequestURI().contains("isReady")) || (event.getRequestURI().contains("prometheus")));
                </expression>
            </evaluator>
            <onMatch>DENY</onMatch>
        </filter>
        <encoder class="net.logstash.logback.encoder.AccessEventCompositeJsonEncoder">
            <providers>
                <provider class="no.nav.tjenestepensjon.simulering.config.CorrelationIdProvider"/>
                <provider class="no.nav.tjenestepensjon.simulering.config.ConsumerIdProvider"/>
                <timestamp/>
                <version/>
                <method/>
                <protocol/>
                <statusCode/>
                <requestedUrl/>
                <requestedUri/>
                <remoteHost/>
                <contentLength/>
                <threadName/>
                <message/>
            </providers>
        </encoder>
    </appender>
    <appender-ref ref="STDOUT"/>
</configuration>