<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="no.nav.tjenestepensjon.simulering.config.accesslog.AccessLogFilter">
        </filter>
        <encoder class="net.logstash.logback.encoder.AccessEventCompositeJsonEncoder">
            <providers>
                <provider class="no.nav.tjenestepensjon.simulering.config.accesslog.CorrelationIdProvider"/>
                <provider class="no.nav.tjenestepensjon.simulering.config.accesslog.ConsumerIdProvider"/>
                <timestamp/>
                <version/>
                <method/>
                <protocol/>
                <statusCode/>
                <requestedUrl/>
                <requestedUri/>
                <remoteHost/>
                <contentLength/>
                <elapsedTime/>
                <threadName/>
                <message/>
            </providers>
        </encoder>
    </appender>
    <appender-ref ref="STDOUT"/>
</configuration>