<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT_JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
                <maxLength>15000</maxLength>
                <maxDepthPerThrowable>30</maxDepthPerThrowable>
                <exclude>java\.util\.concurrent\..*</exclude>
                <exclude>org\.apache\.tomcat\..*</exclude>
                <exclude>org\.apache\.coyote\..*</exclude>
                <exclude>org\.apache\.catalina\..*</exclude>
                <exclude>org\.springframework\.web\..*</exclude>
            </throwableConverter>
            <jsonGeneratorDecorator class="net.logstash.logback.mask.MaskingJsonGeneratorDecorator">
                <valueMask>
                    <value>(.*)(\d{6})\d{5}(.*)</value>
                    <mask>$1$2*****$3</mask>
                </valueMask>
            </jsonGeneratorDecorator>
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="STDOUT_JSON"/>
    </root>

    <logger name="no.nav.tjenestepensjon" level="${logging.level.no.nav.tjenestepensjon:-WARN}"/>
    <logger name="org.springframework.security.oauth2"
            level="${logging.level.org.springframework.security.oauth2:-WARN}"/>
    <logger name="org.springframework.ws.client.MessageTracing"
            level="${logging.level.org.springframework.ws.client.MessageTracing:-WARN}"/>
    <logger name="org.springframework.ws.web" level="${logging.level.org.springframework.ws.web:-WARN}"/>
    <logger name="com.microsoft.aad" level="${logging.level.com.microsoft.aad:-WARN}"/>

</configuration>